{% extends "base.html" %}

{% block title %}{{ control.title }}{% endblock %}

{% block content %}
  <h2>{{ control.title }}</h2>
  <p>
  <b>STIG ID:</b> {{ control.disa_stig_id }} &nbsp;|&nbsp;
  <b>CCI: </b>{{ control.cci.cci_id }}&nbsp;|&nbsp;
  <b>SRG: </b><a href="{% url 'srg_detail' control.srg.srg_id %}">{{ control.srg.srg_id }}</a> |
  <b>Severity: </b>{{ control.get_severity_display }}
  </p>
  <div class="container-fluid">
   <div class="row">
     <div class="col-lg">
       <h3>Vulnerability Discussion</h3>
       {{ control.description | safe }}
     </div>
     <div class="col-lg">
       <h3>Check</h3>
       {{ control.check_content | safe }}
     </div>
     <div class="col-lg">
       <h3>Fix</h3>
       {{ control.fix | safe }}
     </div>
   </div>
  </div>
{% endblock %}
