{% extends "min_base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
  <h2>{{ product.name }}</h2>
  <table class="table">
  <thead>
  <tr>
    <th>STIG</th>
    <th>Release Date</th>
  </tr>
  </thead>
  <tbody>
    {% for stig in stigs %}
      <tr>
        <td><a href="{% url "stig_detail" product=product.short_name version=stig.version release=stig.release %}">V{{ stig.version }}R{{ stig.release }}</a></td>
        <td>{{ stig.release_date }}</td>
      </tr>
    {% endfor %}
  </tbody>
  </table>
{% endblock%}
