{% extends "min_base.html" %}

{% block title %}{{ stig.product.name }} V{{ stig.version }}R{{ stig.release }}{% endblock %}

{% block content %}
  <h1>{{ stig.product.name }} STIG {{ stig.short_version }}</h1>
  <a href="{% url 'stig_detail' product=stig.product version=stig.version release=stig.release %}">View as table</a>
  <hr/>
  {% for control in controls %}
    <h2>{{ control.title }}</h2>
    <p>
      <b>STIG ID:</b>
      <a href="{% url "control_detail_product" product=control.stig.product.short_name version=stig.version release=stig.release id=control.disa_stig_id %}">{{ control.disa_stig_id }}</a> &nbsp;|&nbsp;
      <b>CCI: </b>{{ control.cci.cci_id }}&nbsp;|&nbsp;
      <b>SRG: </b><a href="{% url 'srg_detail' control.srg.srg_id %}">{{ control.srg.srg_id }}</a> |
      <b>Severity: </b>{{ control.get_severity_display }}
    </p>
    <div class="container-fluid">
      <div class="row">
        <div class="span1">
          <h3>Vulnerability Discussion</h3>
          {{ control.description | safe }}
        </div>
        <div class="span1">
          <h3>Check</h3>
          {{ control.check_content | safe }}
        </div>
        <div class="span1">
          <h3>Fix</h3>
          {{ control.fix | safe }}
        </div>
      </div>
      <hr/>
    </div>
  {% endfor %}
{% endblock %}
