{% load static i18n compress %}<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <title>{% block title %}STIG-A-View{% endblock title %} - STIG-A-View</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Online STIG viewer"/>
  <meta name="author" content="Matthew Burket"/>
  <link href="{% static 'css/theme.css' %}" rel="stylesheet" />
</head>
<body>
<nav class="navbar">
  <a class="navbar-brand" href="{% url 'home' %}">STIG-A-View</a>
  <ul>
    <li><a class="nav-link" href="{% url 'stigs' %}">STIGs</a></li>
    <li><a class="nav-link" href="{% url 'products' %}">Products</a></li>
  </ul>
</nav>
{% if messages %}
  {% for message in messages %}
    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
        aria-hidden="true">&times;</span></button>
    </div>
  {% endfor %}
{% endif %}

<div class="container">
{% block content %}
  <p>Use this document as a way to quick start any new project.</p>
{% endblock content %}
</div>
<div class="footer">
  <hr/>
  This website is not created by, run, approved, or endorsed by the U.S. Department of Defense.
  Use at your own risk. This website is <a href="https://github.com/Mab879/stig-a-view" target="_blank">open-source</a> software.
</div>
</body>
</html>
